# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 020427ac188cfbc6aff3299ac1cb39040df538dd17478b744847c60651ab7683899c7b08b2b786297ef872164756879e2ea101baffd21c05128d0b1587904075

test:
  secret_key_base: 6d5f8079b3b461f1e8c08cfacac575d6af9edc302e0517cc08d5f45ca0591c9df44e1ec8f6486e0fead981b52680bf5fadae1d74f522e9eb5fdd93e49a8c55a9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
